{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    {% include 'components/navbar.html' %}

    <div class="container">
        <h1>Register</h1>
        <p class="small">*Use your firstname and lastname or matric number as username</p>
        <div class="form-container">
            <form action="{% url 'register' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
 
</body>
</html>